:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}


body {
  margin: 0;
  place-items: center;
  min-height: 100vh;
  --el-color-primary: #f82020;
  --el-color-primary-light-3: #ffa0a0;
  --el-color-primary-light-5: #fcaeae;
  --el-color-primary-light-7: #fcb2b2;
  --el-color-primary-light-8: #ffd8d8;
  --el-color-primary-light-9: #ffe2e2;
  --el-color-primary-light-11: #f0f8ff;
  --el-color-primary-dark-2: #da2828;

}